/Debug/
Program5/.vs/TheJollyBanker/v16/Browse.VC.opendb
Program5/Debug/TheJollyBanker.tlog/unsuccessfulbuild
*.tlog
Program5/Debug/TheJollyBanker.tlog/link-rc.write.1.tlog
*.tlog
Program5/Debug/TheJollyBanker.tlog/link-rc.write.1.tlog
*.tlog
